@using TimeForge.ViewModels.Project
@using TimeForge.ViewModels.Task
@model ProjectViewModel
@{
    ViewData["Title"] = "Project Details";
    var currentUserId = (string)ViewData["UserId"]!;
}

<div class="container mt-4">

<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="w-100">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold mb-0">@Model.Name</h2>
            @if (currentUserId == Model.UserId)
            {
                <a class="btn btn-primary btn-md m-2" asp-controller="Project" asp-action="Edit" asp-route-projectId="@Model.Id">Edit </a>
            }
        </div>
        <p class="text-muted mb-1">Created by: <span class="fw-medium">@Model.CreatedBy</span></p>
        @if (!string.IsNullOrWhiteSpace(Model.DueDate))
        {
            <p class="text-muted small">Due: @Model.DueDate</p>
        }
        
        <div class="mt-2">
            @foreach (var tag in Model.Tags)
            {
                <span class="badge rounded-pill bg-secondary me-1">@tag.Name</span>
            }
        </div>
    </div>
</div>
<!-- Tasks Section -->
<div class="card shadow-sm border-0 mb-4">
<div class="card-body">
<div id="task-list-container-@Model.Id">
@await Html.PartialAsync("_ProjectTaskList", new TaskListAndFormModel()
{
    ProjectId = @Model.Id,
    Tasks = @Model.Tasks,
    TaskInputModel = new TaskInputModel()
})
</div>
        </div>
    </div>
    
    <!-- Footer -->
    <div class="text-center bg-light border rounded shadow-sm mb-4">
        @if (currentUserId == Model.UserId)
        {
            <a class="btn btn-danger btn-md m-2" onclick="showDeleteModal('@Model.Id')">Delete</a>
        }
    </div>
    
    <div id="modal-placeholder"></div>
</div>




@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <partial name="_TaskCompletionScriptsPartial"/>
    
<script>
    function showDeleteModal(projectId){
        $.get(`/Project/Delete/?projectId=${projectId}`, function(html) {
            $('#modal-placeholder').html(html)
            $('#deleteProjectModal').modal('show')
        });
    }
</script>
}
