@using TimeForge.ViewModels.Project
@model ProjectViewModel
@{
    ViewData["Title"] = "Project Details";
    var currentUserId = (string)ViewData["UserId"]!;
}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="w-100">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="fw-bold mb-0">@Model.Name</h2>
                @if (currentUserId == Model.UserId)
                {
                    <a class="btn btn-primary btn-md m-2" asp-controller="Project" asp-action="Edit" asp-route-projectId="@Model.Id">Edit </a>
                }
            </div>
            <p class="text-muted mb-1">Created by: <span class="fw-medium">@Model.CreatedBy</span></p>
            @if (!string.IsNullOrWhiteSpace(Model.DueDate))
            {
                <p class="text-muted small">Due: @Model.DueDate</p>
            }
        </div>
    </div>
    <!-- Tasks Section -->
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-body">
            <div>
                @await Html.PartialAsync("_ProjectTaskList", Model.Tasks, new ViewDataDictionary(ViewData)
                {
                    { "ProjectId", Model.Id }
                })
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <div class="text-center bg-light border rounded shadow-sm mb-4">
        @if (currentUserId == Model.UserId)
        {
            <a class="btn btn-danger btn-md m-2" onclick="showDeleteModal('@Model.Id')">Delete</a>
        }
    </div>
    
    <div id="modal-placeholder"></div>
</div>


<script>
    function showDeleteModal(projectId){
        $.get(`/Project/Delete/?projectId=${projectId}`, function(html) {
            $('#modal-placeholder').html(html)
            $('#deleteProjectModal').modal('show')
        });
    }
</script>>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
